services:
  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.web
    image: ${DOCKER_USERNAME}/crypto-web:latest

  ws-server:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.ws-server
    image: ${DOCKER_USERNAME}/crypto-ws:latest

  engine:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.engine
    image: ${DOCKER_USERNAME}/crypto-engine:latest
