services:
  web:
    image: ${DOCKER_USERNAME}/crypto-web:latest
    container_name: crypto-web
    restart: always
    expose:
      - "3000"
    depends_on:
      redis:
        condition: service_started
      ws-server:
        condition: service_started
      engine:
        condition: service_started
      postgres:
        condition: service_healthy
    env_file:
      - ./.env

  ws-server:
    image: ${DOCKER_USERNAME}/crypto-ws:latest
    container_name: crypto-ws
    expose:
      - "8080"
    depends_on:
      redis:
        condition: service_started
    env_file:
      - ./.env

  engine:
    image: ${DOCKER_USERNAME}/crypto-engine:latest
    container_name: crypto-engine
    restart: always
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_healthy
    env_file:
      - ./.env

  postgres:
    image: postgres:16
    container_name: crypto-postgres
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  redis:
    image: redis:7
    container_name: crypto-redis
    restart: always

  # nginx:
  #   image: nginx:latest
  #   container_name: crypto-nginx
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #     - ./docker/certs:/etc/ssl/certs:ro
  #   depends_on:
  #     - web
  #     - ws-server
volumes:
  pgdata:
