services:
  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.web
    image: crypto-web:latest
    container_name: crypto-web
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - ws-server
      - engine
    env_file:
      - ./.env.docker

  ws-server:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.ws-server
    image: crypto-ws:latest
    container_name: crypto-ws
    ports:
      - "8080:8080"
    depends_on:
      - redis
    env_file:
      - ./.env.docker

  engine:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.engine
    image: crypto-engine:latest
    container_name: crypto-engine
    depends_on:
      - redis
      - postgres
    env_file:
      - ./.env.docker

  postgres:
    image: postgres:16
    container_name: crypto-postgres
    restart: always
    environment:
      - POSTGRES_DB=mydatabase
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mypassword
    ports:
      - "5432:5432"
    volumes:
      - ./docker/data/postgres:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: crypto-redis
    restart: always
    ports:
      - "6379:6379"
